<%= form_for(@unit, remote: true, :html => { :class => 'form' }) do |f| %>
  <div class="modal-body">
    <div id="error_explanation">
      <ul class="errors"></ul>
    </div>

    <div class="form-group row">
      <%= f.label :bandwidth_package, class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.collection_select :bandwidth_package_id, BandwidthPackage.order(:display_order),:id,:name, {}, { class: 'form-control' } %>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <%= f.button "Save", class: "btn btn-primary", data: { disable_with: raw(" <i class='fas fa-spinner fa-pulse'></i> Configuring.. ") } %>
    <%= link_to "Cancel", "#", class: "btn btn-secondary", data: {dismiss: "modal"} %>
  </div>
<% end %>